<!-- app/views/items/new.html.erb -->

<h1>タスク登録フォーム</h1>
<%= form_with model: @task, local: true do |form| %>
  <p>
    タイトル：<br>
    <%= form.text_field :title %>
  </p>
  <p>
    本文：<br>
    <%= form.text_area :body %>
  </p>
  <p>
    期限：<br>
    <%= form.number_field :due_date %>
  </p>
  
  <%= form.submit "登録" %>
<% end %>